{% extends "layout.html" %}

{% block content %}


<head>
    <script src="{{ url_for('static',filename='home.js') }}"> </script>
</head>

<div class="bigbold">
    Read Notes on the Staff
</div>
<br>
<div class="row">
    <div class="col-lg-6 col-12">
        <div class="area-img">
            <div class="btn botton-style" id="lesson">Learn Notes</div>
            <div class="btn botton-style" id="quiz">Quiz</div>
        </div>
        <hr>
        <div class="area-text">
            <div class="lessontext">
            At anytime of the course, you may press the A~G and 1~7 to play audio, which can help you get familiar with the sound.

            Now, try press 2-4-5--5-6-4--2-4-5-4-5-7-6
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-12">
        <div id="board" class="area-keyboard"></div>
    </div>


<div id="display">
</div>




{% endblock %}