{% extends "layout.html" %}

{% block content %}

<html>

<head>
    <script src="{{ url_for('static',filename='menu.js') }}"> </script>
    <script>
        let lesson = {{ lesson | tojson}}
    </script>
</head>

<body>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 bigbold nomargin">Lessons to learn</div>
    </div>

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-6">
            <div class="area-img">
                <div class="btn botton-style" id="staff">Learn the Staff</div>
                <div class="btn botton-style" id="clef">Learn the Clef</div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
    
</body>

</html>


{% endblock %}