{% extends "layout.html" %}

{% block content %}

<html>
    <head>
        <script src="{{ url_for('static',filename='quiz.js') }}"> </script>
        <script>
            let quiz = {{quiz | tojson}}
            let id = {{id}}
            let right = {{right}}
        </script>
    </head>
   
    <body>
        <div class = "area-text">
            <div class="quiztitle">
                {{quiz.title}}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="area-img"> 
                    <img class="quizimg" src= {{quiz.image}}>
                    {% for d in quiz.option %}
                      <div id="option{{d}}" class = "btn botton-style">{{quiz.option[d]}}</div>
                    {% endfor %}
                </div>
                
            </div>
            <div class="col-lg-6 col-12">
            
            </div>
        </div>

        <div id="review">
          
        </div>
        <div id = "quizbutton"> 
        </div>
        <div id="totalscore">
        </div>
        
    </body>
</html>


{% endblock %}