.bigbold{
    font-style: italic;
    font-size: 56px;
    font-weight: bold;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Apple Chancery, 'Courier New', Courier, monospace;
    border-top: thick double rgba(255, 255, 255, 0.9);
    border-bottom: thick double rgba(255, 255, 255, 0.9);
}
.artboard {
    padding: 30px;
    background-image: url("/static/images/background.jpg");
    background-position: -900px -300px;
    border-radius: 5rem;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
    min-height: 400px;
}
.area-img {
    background-color: rgba(255, 255, 255, 0.73);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
}
.area-text {
    background-color: rgba(58, 99, 14, 0.584);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
}
.area-keyboard {
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
}
.title{
    font-size: 30px;
}

.homebutton{
    border-color: skyblue;
    background-color: skyblue;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;

}
.lessontext{
    font-size:20px;
    color: white;
    font-family:'Courier New', Courier, monospace;
}
.rightmargin{
    margin-right: 20px;
}
.botton-style:hover{
    cursor: pointer;
    text-decoration: underline black;
    background-color: aliceblue;
}
.botton-style {
    color: #f8f8f8;
    background-color: #526980;
    border-color: #f8f9fa;
    width: 100%;
    text-align: left;
    font-weight: bold;
}
.quiztitle{
    font-size:20px;
    padding: 15px;
    color: white;
    font-family:'Courier New', Courier, monospace;
}
.quizcontent{
    font-size:20px;
    padding-left: 60px;
    padding-top: 40px;
    display: inline-block;
}
.quizimg{
    height: 100%;
    float: top;
}
.quizdiv{
    height: 150px;
    display: inline-block;
}
#right{
    margin-left: -10px;
    color:green;
    background-color: rgb(240,248,255,0.7);
    font-size: 25px;
    border-radius: 10px;
    margin-top: 10px;
}
#wrong{
    margin-left: -10px;
    color: red;
    background-color: rgb(240,248,255,0.7);
    font-size: 25px;
    border-radius: 10px;
    margin-top: 10px;
}
.lesson-img {
    width: 100%;
}
#player-pad {
    display: inline-block;
    width: 12%;
}
.player {
    display: inline-block;
    padding-left: 7%;
    width: 11.7%;
}
.player:hover {
    cursor: pointer;
}
.broad-img {
    width: 100%;
}
#score {
    margin-left: -10px;
    padding-top: 15px;
    font-size: 30px;
    color:darkorange;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(240,248,255,0.7);
    border-radius: 10px;
    margin-top: 10px;
}
#quizbutton{
    margin: 5px;
}